html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  color: var(--vscode-foreground);
  background-color: var(--vscode-editor-background);
  font-family: var(--vscode-font-family);
  font-size: var(--vscode-font-size);
}

#root {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.placeholder {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 16px;
  box-sizing: border-box;
  text-align: center;
  color: var(--vscode-descriptionForeground);
}
